<%- include('head') %>

<h1>User Profile</h1>

<p>First Name: <%= fname %></p>
<p>Last Name: <%= lname %></p>
<p>Email: <%= email %></p>

<p>Number of People You Have Referred: <%= referredCount %></p>

<!-- Rest of your profile page content -->

